---
import Layout from "@/layouts/Layout.astro";
import { Calendar } from "lucide-react";

interface Props {
  title: string;
  startTime: Date;
  endTime: Date;
  rsvp: Date;
}

const { title, startTime, endTime, rsvp } = Astro.props;
---

<Layout title="Event">
  <div slot="header-title">
    <h1 transition:name="title" class="text-3xl font-bold">Spis suppe</h1>
  </div>
  <div class="flex flex-row">
    <div>
      <Calendar />
    </div>
    <div class="flex-1">
      <h3>Start time: {new Date().toDateString()}</h3>
    </div>
  </div>
</Layout>
